DATA TYPES AND STRUCTURES *QUESTION*

1.What are data structures, and why are they important?

ANS - A data structure is a specialized format for organizing, processing, retrieving and storing data. There are several basic and advanced types of data structures, all designed to arrange data to suit a specific purpose. Data structures make it easy for users to access and work with the data they need.

2.Explain the difference between mutable and immutable data types with examples?

ANS-Mutable data types
These data types can be modified after they are created. For example, in Python, lists, dictionaries, and sets are mutable data types.
Immutable data types
These data types cannot be changed after they are created. For example, in Python, strings, tuples, integers, and floats are immutable data type.

3.What is a string in Python, and how is it different from a list?

ANS-A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

4.Why might you use a set instead of a list in Python?

ANS-Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

5.What are the main differences between lists and tuples in Python?

ANS-The main differences between lists and tuples in Python are that lists are mutable, while tuples are immutable. Lists can be modified, while tuples cannot. Tuples are also more memory efficient and faster than lists.

6.Describe how dictionaries store data?

ANS-Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

7.How do tuples ensure data integrity in Python?

ANS-Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets.

8.What is a hash table, and how does it relate to dictionaries in Python?

ANS-In Python, a hash table is a data structure that's used to implement dictionaries.
A hash function generates a unique index value for each key in a dictionary.
The index value determines which bucket in the hash table to store the data in.
Hash tables are efficient because they allow for fast access to data.

9.Can lists contain different data types in Python?

ANS-Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

10.Explain why strings are immutable in Python?

ANS  -Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.

The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

11.How do sets handle duplicate values in Python?

ANS- Items of a set in python are immutable  do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner,  they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

12.What advantages do dictionaries offer over lists for certain tasks?

ANS- Dictionaries are faster for lookups because they use hash tables. Dictionaries have constant time complexity  while lists have linear time complexity  Dictionaries are faster for finding a specific Python object.

13.Explain the difference between a list and a dictionary in terms of data retrieval?

ANS- Lists are ordered sets of objects, whereas dictionaries are unordered sets. But the main difference is that items in dictionaries are accessed via keys and not via their position. A dictionary is an associative array Also known as hashes. Any key of the dictionary is associated  to a value.

14.Why are dictionaries considered unordered, and how does that affect data retrieval?

ANS- Dictionary is termed as an unordered collection of object because the printed order of elements is not same as the order in which the elements are stored.In older versions of Python  dictionaries did not preserve insertion order at all. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for fast lookups rather than maintaining order.

15.In what situations are lists preferred over dictionaries?

ANS-  If you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

16. What is a nested dictionary, and give an example of its use case?

ANS-  A nested dictionary is a dictionary that contains other dictionaries. It's a way to organize data into multiple layers.
Example -
Employee records: Organize employees by department, with each employee's details in a nested dictionary
Inventory systems: Track product categories, subcategories, and individual product details
JSON data: Nested dictionaries map to the structure of JSON data, making them useful for working with APIs and web services.

17.You modify the elements of a tuple? Explain why or why not?

ANS- No, you cannot modify the elements of a tuple in Python because tuples are immutable meaning once created, their elements cannot be changed, added, or removed; if you try to directly alter a tuple element, you will receive a TypeError error.

18.How do sets handle duplicate values in Python?

ANS- Items of a set in python are immutable  do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner,  they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

19.How does the “in” keyword work differently for lists and dictionaries?

ANS- The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list. The execution time of in for values is about the same as for lists. Key-value pairs are unique.

PRACTICAL QUESTIONS


1.Write a code to find the length of the string "Hello World"

In [1]:

string = "Hello World"


length = len(string)
print("The length of the string is:", length)

The length of the string is: 11

2.Write a code to slice the first 3 characters from the string "Python Programming"

In [2]:

string = "Python Programming"


sliced_string = string[:3]

print("The sliced string is:", sliced_string)

The sliced string is: Pyt

3. Write a code to convert the string "hello" to uppercase

In [5]:

string = "hello"


uppercase_string = string.upper()

print("The string in uppercase is:", uppercase_string)

The string in uppercase is: HELLO

4.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:

string = "I like apple"

'modified_string = string.replace("apple", "orange")

print("The modified string is:", modified_string)

The modified string is: I like orange

5.Write a code to create a list with numbers 1 to 5 and print it

In [8]:

numbers = [1, 2, 3, 4, 5]

print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

6. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [11]:

numbers = [1, 2, 3, 4]


numbers.append(10)

print("The updated list is:", numbers)

The updated list is: [1, 2, 3, 4, 10]

7.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [12]:

letters = ['a', 'b', 'c', 'd']

second_element = letters[1]
print("The second element is:", second_element)

The second element is: b

8. Write a code to reverse the list [10, 20, 30, 40, 50].

In [13]:

numbers = [10, 20, 30, 40, 50]

numbers.reverse()
print("The reversed list is:", numbers)

The reversed list is: [50, 40, 30, 20, 10]

9.Write a code to create a tuple with the elements 10, 20, 30 and print it

In [15]:

my_tuple = (10, 20, 30)

print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30)

10.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [16]:

fruits = ('apple', 'banana', 'cherry')

first_element = fruits[0]
print("The first element is:", first_element)

The first element is: apple

11. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [17]:

my_tuple = (1, 2, 3, 2, 4, 2)

count_of_2 = my_tuple.count(2)
print("The number 2 appears", count_of_2, "times in the tuple.")

The number 2 appears 3 times in the tuple.

12.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:

animals = ('dog', 'cat', 'rabbit')

index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

13.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [19]:

fruits = ('apple', 'orange', 'banana')

if 'banana' in fruits:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

14. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [20]:

my_set = {1, 2, 3, 4}

my_set.add(6)
print("The updated set is:", my_set)

The updated set is: {1, 2, 3, 4, 6}

15. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [21]:

my_set = {1, 2, 3, 4, 5}

print("The set is:", my_set)

The set is: {1, 2, 3, 4, 5}

16.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [22]:

fruits = ('apple', 'orange', 'banana')

if 'banana' in fruits:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

17.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:

animals = ('dog', 'cat', 'rabbit')

index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

18.. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [24]:

my_tuple = (1, 2, 3, 2, 4, 2)

count_of_2 = my_tuple.count(2)
print("The number 2 appears", count_of_2, "times in the tuple.")

The number 2 appears 3 times in the tuple.

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [25]:

fruits = ('apple', 'banana', 'cherry')

first_element = fruits[0]
print("The first element is:", first_element)

The first element is: apple

20.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [26]:

my_tuple = (10, 20, 30)
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30)

21. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [28]:

my_set = {1, 2, 3, 4}

my_set.add(6)
print("The updated set is:", my_set)

The updated set is: {1, 2, 3, 4, 6}